.setting{
    position: fixed;
    right: 0;
    background-color: #fff;
    max-width: 200px;
    width: 100%;
    padding: 15px;
    top: 100px;
    z-index: 999;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.setting.open{
    transform: translateX(0);
}
.setting .s-toggle-btn{
    position: absolute;
    height: 40px;
    width: 40px;
    color: #fff;
    left: -40px;
    top: 0;
    background-color: var(--skin-color);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}
.setting .s-toggle-btn i{
    line-height: 40px;
}
.setting h4{
    font-size: 16px;
    color: #555;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    text-transform: capitalize;
}
.setting .colors span{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 6px;
    margin-top: 6px;
    cursor: pointer;
}
.setting label{
    font-size: 16px;
    color: #555;
    margin-right: 5px;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}
body.dark .setting{
    background-color: #222;
}
body.dark .setting h4{
    color: #fff;
    border-color: #444;
}
body.dark .setting label{
    color: #bbb;
}